<section class="content-header">
    <h1>
        <span ng-if="formCtrl.venue.id !== ''">{{ 'venue.edit_venue' | translate }}</span>
        <span ng-if="formCtrl.venue.id === ''">{{ 'venue.add_a_venue' | translate }}</span>
        <small>{{ formCtrl.venue.title }}</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <form name="formCtrl.venueForm">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-default" ng-click="$location.path('venues')"><i
                        class="fa fa-reply"></i> {{ 'button.go_back' |
                    translate }}
                </button>
            </div>
            <div class="col-md-8">
                <div class="pull-right">
                    <button type="submit"
                            ng-disabled="formCtrl.venueForm.$invalid || formCtrl.deleteLoading || formCtrl.saveLoading"
                            ng-click="formCtrl.save()"
                            class="btn btn-primary">
                        <span ng-if="formCtrl.saveLoading"><i class="fa fa-spin fa-spinner"></i></span>
                        <span ng-if="!formCtrl.saveLoading"><i class="fa fa-save"></i> {{
                            'button.save' | translate }}</span>
                    </button>
                    
                    
                    <button type="submit" ng-click="formCtrl.saveAndExit()"
                            ng-disabled="formCtrl.venueForm.$invalid || formCtrl.deleteLoading || formCtrl.saveLoading"
                            class="btn btn-primary">
                        <span ng-if="formCtrl.saveLoading"><i class="fa fa-spin fa-spinner"></i></span>
                        <span ng-if="!formCtrl.saveLoading"><i class="fa fa-save"></i> {{
                            'button.save_exit' | translate }}</span>
                    </button>
                    <button ng-if="formCtrl.venue.id !== ''" type="button"
                            ng-disabled="formCtrl.deleteLoading || formCtrl.saveLoading"
                            ng-click="formCtrl.delete()" class="btn btn-danger">
                        <span ng-if="formCtrl.deleteLoading"><i class="fa fa-spin fa-spinner"></i></span>
                        <span ng-if="!formCtrl.deleteLoading"><i class="fa fa-save"></i> {{
                            'button.delete' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <!-- /.row -->
        <div class="row">
            <div class="col-md-8">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'global.map_localisation' | translate }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="callout callout-info">
                            <h4>Read this before filling the form!</h4>
                            <p>Follow the steps to continue to payment.</p>
                        </div> <!-- /call out-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group map-search">
                                    <input class="form-control" placeholder="{{ 'venue.Search_place' | translate }}" ng-change="formCtrl.placeChange()" g-places-autocomplete options="formCtrl.autocompleteOptions" ng-model="formCtrl.place"/>
                                </div>
                                <div class="form-group">
                                    <ui-gmap-google-map options='formCtrl.map.options' center='formCtrl.map.center' zoom='formCtrl.map.zoom' events="formCtrl.events">
                                        <ui-gmap-marker coords="formCtrl.marker.coords" options="formCtrl.marker.options" events="formCtrl.marker.events" idkey="formCtrl.marker.id"></ui-gmap-marker>
                                    </ui-gmap-google-map>
                                </div>
                            </div>
                            <!--<div class="col-sm-12">
                                <pre>{{formCtrl.place | json}}</pre>
                            </div>-->
                            <div class="col-sm-6">
                                <label for="latitude" class="control-label">{{ 'global.latitude' | translate }}</label>
                                <div class="form-group">
                                    <input id="latitude" type="text" class="form-control"
                                           placeholder="{{ 'global.latitude' | translate }}"
                                           ng-model="formCtrl.venue.latitude">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="longitude" class="control-label">{{ 'global.longitude' | translate }}</label>
                                <div class="form-group">
                                    <input id="longitude" type="text" class="form-control"
                                           placeholder="{{ 'global.longitude' | translate }}"
                                           ng-model="formCtrl.venue.longitude">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="address" class="control-label">{{ 'global.address' | translate }}</label>
                                <div class="form-group">
                                    <input id="address" type="text" class="form-control"
                                           placeholder="{{ 'global.address' | translate }}"
                                           ng-model="formCtrl.venue.address">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="postal_code" class="control-label">{{ 'global.postal_code' | translate }}</label>
                                <div class="form-group">
                                    <input id="postal_code" type="text" class="form-control"
                                           placeholder="{{ 'global.postal_code' | translate }}"
                                           ng-model="formCtrl.venue.postal_code">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="!formCtrl.venue.id">
                            <div class="col-sm-4">
                                <label for="country" class="control-label">{{ 'country.country' | translate }}</label>
                                <div class="form-group">
                                    <ui-select id="country" ng-model="formCtrl.country" on-select="formCtrl.refreshStates($select.selected.id)" theme="selectize">
                                        <ui-select-match placeholder="All countries" >
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="country.id as country in formCtrl.countries track by $index"
                                                refresh="formCtrl.refreshCountries($select.search)"
                                                refresh-delay="0">
                                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4" ng-if="formCtrl.loadState">
                                <label for="state" class="control-label">{{ 'country.state' | translate }}</label>
                                <div class="form-group">
                                    <ui-select id="state" ng-model="formCtrl.state" on-select="formCtrl.refreshCities($select.selected.id)" theme="selectize">
                                        <ui-select-match placeholder="All states" >
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="state.id as state in formCtrl.states track by $index"
                                                refresh="formCtrl.refreshStates($select.search)"
                                                refresh-delay="0">
                                            <div ng-bind-html="state.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4" ng-if="formCtrl.loadCity">
                                <label for="city" class="control-label">{{ 'venue.city' | translate }}</label>
                                <div class="form-group">
                                    <ui-select id="city" ng-model="formCtrl.city" theme="selectize">
                                        <ui-select-match placeholder="All cities" >
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="city.id as city in formCtrl.cities track by $index"
                                                refresh="formCtrl.refreshCities($select.search)"
                                                refresh-delay="0">
                                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="formCtrl.venue.id">
                            <div class="col-sm-4">
                                <label for="country" class="control-label">{{ 'country.country' | translate }}</label>
                                <div class="form-group">
                                    <ui-select id="country" ng-model="formCtrl.country" on-select="formCtrl.refreshStates($select.selected.id)" theme="selectize">
                                        <ui-select-match placeholder="All countries" >
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="country.id as country in formCtrl.countries track by $index"
                                                refresh="formCtrl.refreshCountries($select.search)"
                                                refresh-delay="0">
                                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="state" class="control-label">{{ 'state.state' | translate }}</label>
                                <div class="form-group">
                                    <ui-select id="state" ng-model="formCtrl.state" on-select="formCtrl.refreshCities($select.selected.id)" theme="selectize">
                                        <ui-select-match placeholder="All states" >
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="state.id as state in formCtrl.states track by $index"
                                                refresh="formCtrl.refreshStates($select.search)"
                                                refresh-delay="0">
                                            <div ng-bind-html="state.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="city" class="control-label">{{ 'city.city' | translate }}</label>
                                <div class="form-group">
                                    <ui-select id="city" ng-model="formCtrl.city" theme="selectize">
                                        <ui-select-match placeholder="All cities" >
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="city.id as city in formCtrl.cities track by $index"
                                                refresh="formCtrl.refreshCities($select.search)"
                                                refresh-delay="0">
                                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'global.informations' | translate }}</h3>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="name" class="control-label">{{ 'venue.name' | translate }}</label>

                                <div class="form-group">
                                    <input id="name" type="text" class="form-control"
                                           placeholder="{{ 'venue.name' | translate }}"
                                           required=""
                                           ng-model="formCtrl.venue.name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="summary" class="control-label">{{ 'venue.summary' | translate }}</label>

                                <div class="form-group">
                                    <input id="summary" type="text" class="form-control"
                                           placeholder="{{ 'venue.summary' | translate }}"
                                           ng-model="formCtrl.venue.summary">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="description" class="control-label">{{ 'venue.description' | translate }}</label>

                                <div class="form-group">
                                    <textarea ui-tinymce="formCtrl.tinymceOptions" placeholder="{{ 'global.content' | translate }}" ng-model="formCtrl.venue.description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="phone" class="control-label">{{ 'global.phone' | translate }}</label>
                                <div class="form-group">
                                    <input id="phone" type="text" class="form-control"
                                           placeholder="{{ 'global.phone' | translate }}"
                                           ng-model="formCtrl.venue.phone">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="website" class="control-label">{{ 'venue.website' | translate }}</label>
                            <div class="input-group">
                                <span class="input-group-addon">http://</span>
                                <input id="website" type="website" class="form-control"
                                       placeholder="{{ 'venue.website' | translate }}"
                                       ng-model="formCtrl.venue.website">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div><!-- /.box -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'global.social' | translate }}</h3>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-sm-4">
                                <label for="facebook" class="control-label">{{ 'global.facebook' | translate }}</label>
                                <div class="form-group">
                                    <input id="facebook" type="text" class="form-control"
                                           placeholder="{{ 'global.facebook' | translate }}"
                                           ng-model="formCtrl.venue.facebook">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="twitter" class="control-label">{{ 'global.twitter' | translate }}</label>

                                <div class="form-group">
                                    <input id="twitter" type="text" class="form-control"
                                           placeholder="{{ 'global.twitter' | translate }}"
                                           ng-model="formCtrl.venue.twitter">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="google" class="control-label">{{ 'global.google' | translate }}</label>

                                <div class="form-group">
                                    <input id="google" type="text" class="form-control"
                                           placeholder="{{ 'global.google' | translate }}"
                                           ng-model="formCtrl.venue.google">
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            <div class="col-md-4">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'global.image' | translate }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div ng-if="formCtrl.file" class="pull-left" style="margin-right: 10px; height: 100px;">
                                <img ng-src="{{formCtrl.file.src}}" style="max-height: 100px; width: auto;" />
                            </div>
                            <div ng-if="formCtrl.venue.image && !formCtrl.file">
                                <img ng-src="{{formCtrl.venue.avatar_url}}" style="max-height: 100px; width: auto;" />
                            </div>
                            <div class="file-wrap">
                                <label class="btn btn-default" for="fileToUpload">
                                    <i class="fa fa-user"></i> Change image
                                </label>
                                <input id="fileToUpload" ngf-select type="file" name="myAvatar" style="opacity: 0;"                                        
                                        image-with-preview
                                        data-bind-file=""
                                        ng-model="formCtrl.file"
                                        ngf-accept="'image/*'" />
                            </div>
                            <div ng-show="formCtrl.file">
                                {{formCtrl.file.name}}<br />
                                {{formCtrl.file.size}} byte(s)<br/>
                                {{formCtrl.file.type}}
                            </div>
                            <div style="margin-top: 10px;" class="alert alert-danger alert-dismissible" ng-show="formCtrl.userForm.myAvatar.$error.formCtrl.file">
                                Not a JPEG or a PNG!
                            </div>
                            <div style="margin-top: 10px;" class="alert alert-danger alert-dismissible" ng-show="formCtrl.userForm.myAvatar.$error.dimensions">
                                Invalid dimensions! Expecting image under 200x200.
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <div class="box box-deffault">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'venue.category.categories' | translate }} </h3>

                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool"
                                    ng-click="$location.path('venues/categories/create')"><i
                                    class="fa fa-plus"></i> {{ 'button.add' | translate }}
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <ui-select multiple ng-model="formCtrl.venue.categories">
                            <ui-select-match placeholder="">{{$item.name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="category in formCtrl.categories"
                                    refresh="formCtrl.refreshCategory($select.search)"
                                    refresh-delay="0">
                                <div ng-bind-html="category.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>


                    </div>
                    <!-- /.box-body -->
                    <div class="overlay" ng-show="!formCtrl.venue.categories">
                        <i class="fa fa-cog fa-spin"></i>
                    </div>
                    <!-- /.overlay -->
                </div>
                <!-- /.box -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'global.status' | translate }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <switch id="verified" name="verified" ng-model="formCtrl.venue.is_verified" ng-change="listCtrl.save(row)" class="green"></switch><span class="switch-label"><b>{{ 'global.is_verified' | translate }}</b></span>
                        </div>
                        <div class="form-group">
                            <switch id="active" name="active" ng-model="formCtrl.venue.active" ng-change="listCtrl.save(row)" class="green"></switch><span class="switch-label"><b>{{ 'global.active' | translate }}</b></span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form>
    <!-- /form -->

</section>
