<section class="content-header">
  <h1>{{ 'panel.dashboard' | translate }}</h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="ion ion-ios-person-outline"></i></span>
              <div class="info-box-content">
                  <span class="info-box-text">Users</span>
                  <span class="info-box-number">90<small>%</small></span>
                  <a ui-sref="main.user-list">View all users</a>
              </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
              <span class="info-box-icon bg-green"><i class="ion ion-ios-paper-outline"></i></span>
              <div class="info-box-content">
                  <span class="info-box-text">Posts</span>
                  <span class="info-box-number">90<small>%</small></span>
                  <a ui-sref="main.post-list">View all posts</a>
              </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
              <span class="info-box-icon bg-yellow"><i class="ion ion-ios-camera-outline"></i></span>
              <div class="info-box-content">
                  <span class="info-box-text">Media</span>
                  <span class="info-box-number">90<small>%</small></span>
                  <a ui-sref="main.media-list">View all media</a>
              </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
      </div>
  </div>
  <!-- /.box -->
  <div class="row">
      <div class="col-md-4">
        <!-- USERS LIST -->
        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">Latest Members</h3>

            <div class="box-tools pull-right">
              <span class="label label-danger">{{ dashCtrl.rowCollection.length }} New Members</span>
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding text-center" ng-if="!dashCtrl.loadState">
            <i class="fa fa-lg fa-spinner fa-spin"></i>
          </div>
          <div class="box-body no-padding" ng-if="dashCtrl.loadState">
            <ul class="users-list clearfix">
              <li ng-repeat="row in dashCtrl.rowCollection | orderBy:'-created_at'">
                <img ng-if="row.avatar" ng-src="{{row.avatar_url}}" alt="User Image">
                <img ng-if="!row.avatar" src="assets/img/avatar/default.png" alt="User Image">
                <a class="users-list-name" href="#">{{ row.getFullName() }}</a>
                <span class="users-list-date" am-time-ago="row.created_at"></span>
              </li>
            </ul>
            <!-- /.users-list -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-center" style="display: block;">
            <a ui-sref="main.user-list" class="uppercase">View All Users</a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!--/.box -->
      </div>
  </div>
</section>
