<section class="content-header">
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <div class="col-sm-6">
                        <h1 class="box-title">{{ 'country.countries' | translate }}</h1>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a ui-sref="main.country-create" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> {{ 'country.add_a_country'| translate }}</a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" st-table="listCtrl.rowCollection" st-safe-src="listCtrl.rowCollection"
                     st-pipe="listCtrl.callServer">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button ng-disabled="listCtrl.countSelectedRows <= 0" class="btn btn-default btn-sm"
                                        ng-really-message="{{ 'country.delete_before_msg' | translate }}"
                                        ng-really-click="listCtrl.bulkRemove()"><i
                                        class="fa fa-trash-o"></i> Delete Selected
                                </button>
                            </div>
                            <!-- /.btn-group -->
                        </div>
                        <div class="col-md-6">
                            <div class="form-inline text-right">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="listCtrl.filter.search"
                                           placeholder="Search Title"/>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-default" ng-disabled="listCtrl.tableLoading" st-custom-action
                                            callback="listCtrl.filterAction()"><i
                                            class="fa fa-filter"></i> {{
                                        'button.filter' | translate }}
                                    </button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default" ng-disabled="listCtrl.tableLoading" st-custom-action
                                            callback="listCtrl.resetFilter()"><i
                                            class="fa fa-refresh"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th width="5%">
                                    <st-select-all all="listCtrl.rowCollection"
                                                   count-selected-rows="listCtrl.countSelectedRows"
                                                   ng-model="isAllSelected"></st-select-all>
                                </th>
                                <th>{{ 'country.country' | translate}}</th>
                                <th>{{ 'country.code' | translate}}</th>
                                <th>{{ 'country.enabled' | translate}}</th>
                                <th width="15%"></th>
                            </tr>
                            </thead>
                            <tbody ng-if="!listCtrl.tableLoading">

                            <tr ng-repeat="row in listCtrl.rowCollection">
                                <td>
                                    <input type="checkbox" ng-checked="row.isSelected" st-select-row="row"/>
                                </td>
                                <td>{{ row.name }}</td>
                                <td>{{ row.code }}</td>
                                <td>{{ row.enabled }}</td>
                                <td>
                                    <div class="btn-group" dropdown>
                                        <a href="country/{{ row.id }}/edit" class="btn btn-primary"><i
                                                class="fa fa-search"></i> {{ 'button.edit' | translate }}
                                        </a>
                                        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a ng-click="listCtrl.remove(row)" href=""><i class="fa fa-times"></i> {{
                                                'button.remove' | translate }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-if="listCtrl.tableLoading">
                            <tr>
                                <td colspan="7" class="text-center"><i class="fa fa-lg fa-spinner fa-spin"></i></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div st-template="app/shared/override/smart-table/pagination.html"
                                         st-next-prev-pagination=""
                                         st-items-by-page="itemsByPage"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- ./col -->

    </div>
</section>
