<section class="content-header">
    <h1>
        <span ng-if="formCtrl.user.id !== ''">{{ 'user.edit_user' | translate }}</span>
        <span ng-if="formCtrl.user.id === ''">{{ 'user.add_a_user' | translate }}</span>
        <small></small>
    </h1>
</section>
<!-- Main content -->
<section class="content">

    <form name="formCtrl.userForm" ng-if="formCtrl.user.id == ''">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-default" ng-click="$location.path('users')"><i
                        class="fa fa-reply"></i> {{ 'button.go_back' |
                    translate }}
                </button>
            </div>
            <div class="col-md-8">
                <div class="pull-right">
                    <button type="submit"
                            ng-disabled="formCtrl.userForm.$invalid || formCtrl.deleteLoading || formCtrl.saveLoading"
                            ng-click="formCtrl.save()"
                            class="btn btn-primary">
                        <span ng-if="formCtrl.saveLoading"><i class="fa fa-spin fa-spinner"></i></span>
                        <span ng-if="!formCtrl.saveLoading"><i class="fa fa-save"></i> {{
                            'button.save' | translate }}</span>
                    </button>
                    <button type="submit" ng-click="formCtrl.saveAndExit()"
                            ng-disabled="formCtrl.userForm.$invalid || formCtrl.deleteLoading || formCtrl.saveLoading"
                            class="btn btn-primary">
                        <span ng-if="formCtrl.saveLoading"><i class="fa fa-spin fa-spinner"></i></span>
                        <span ng-if="!formCtrl.saveLoading"><i class="fa fa-save"></i> {{
                            'button.save_exit' | translate }}</span>
                    </button>
                    <button ng-if="formCtrl.user.id !== ''" type="button"
                            ng-disabled="formCtrl.deleteLoading || formCtrl.saveLoading"
                            ng-click="formCtrl.delete()" class="btn btn-danger">
                        <span ng-if="formCtrl.deleteLoading"><i class="fa fa-spin fa-spinner"></i></span>
                        <span ng-if="!formCtrl.deleteLoading"><i class="fa fa-save"></i> {{
                            'button.delete' | translate }}</span>
                    </button>
                </div>
            </div><!-- /.col -->
        </div>
        <br />
        <!-- /.row -->
        <div class="row">
            <div class="col-md-8">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'global.informations' | translate }}</h3>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="lastname" class="control-label">{{ 'user.lastname' | translate }}</label>

                                <div class="form-group">
                                    <input id="lastname" type="text" class="form-control"
                                           placeholder="{{ 'user.lastname' | translate }}"
                                           required=""
                                           ng-model="formCtrl.user.lastname">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="firstname" class="control-label">{{ 'user.firstname' | translate }}</label>

                                <div class="form-group">
                                    <input id="firstname" type="text" class="form-control"
                                           placeholder="{{ 'user.firstname' | translate }}"
                                           required=""
                                           ng-model="formCtrl.user.firstname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="phone" class="control-label">{{ 'user.phone' | translate }}</label>
                                <div class="form-group">
                                    <input id="phone" type="text" class="form-control"
                                           placeholder="{{ 'user.phone' | translate }}"
                                           ng-model="formCtrl.user.phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="address" class="control-label">{{ 'user.address' | translate }}</label>
                                <div class="form-group">
                                    <input id="address" type="text" class="form-control"
                                           placeholder="{{ 'user.address' | translate }}"
                                           ng-model="formCtrl.user.address">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="postal_code" class="control-label">{{ 'user.postal_code' | translate }}</label>
                                <div class="form-group">
                                    <input id="postal_code" type="text" class="form-control"
                                           placeholder="{{ 'user.postal_code' | translate }}"
                                           ng-model="formCtrl.user.postal_code">
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="!formCtrl.user.id">
                            <div class="col-sm-4">
                                <label for="country" class="control-label">{{ 'country.country' | translate }}</label>
                                <div class="form-group">
                                    <ui-select id="country" ng-model="formCtrl.country" on-select="formCtrl.refreshStates($select.selected.id)" theme="selectize">
                                        <ui-select-match placeholder="All countries" >
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="country.id as country in formCtrl.countries track by $index"
                                                refresh="formCtrl.refreshCountries($select.search)"
                                                refresh-delay="0">
                                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4" ng-if="formCtrl.loadState">
                                <label for="state" class="control-label">{{ 'country.state' | translate }}</label>
                                <div class="form-group">
                                    <ui-select id="state" ng-model="formCtrl.state" on-select="formCtrl.refreshCities($select.selected.id)" theme="selectize">
                                        <ui-select-match placeholder="All states" >
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="state.id as state in formCtrl.states track by $index"
                                                refresh="formCtrl.refreshStates($select.search)"
                                                refresh-delay="0">
                                            <div ng-bind-html="state.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4" ng-if="formCtrl.loadCity">
                                <label for="city" class="control-label">{{ 'user.city' | translate }}</label>
                                <div class="form-group">
                                    <ui-select id="city" ng-model="formCtrl.city" theme="selectize">
                                        <ui-select-match placeholder="All cities" >
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="city.id as city in formCtrl.cities track by $index"
                                                refresh="formCtrl.refreshCities($select.search)"
                                                refresh-delay="0">
                                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="formCtrl.user.id">
                            <div class="col-sm-4">
                                <label for="country" class="control-label">{{ 'country.country' | translate }}</label>
                                <div class="form-group">
                                    <ui-select id="country" ng-model="formCtrl.country" on-select="formCtrl.refreshStates($select.selected.id)" theme="selectize">
                                        <ui-select-match placeholder="All countries" >
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="country.id as country in formCtrl.countries track by $index"
                                                refresh="formCtrl.refreshCountries($select.search)"
                                                refresh-delay="0">
                                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="state" class="control-label">{{ 'country.state' | translate }}</label>
                                <div class="form-group">
                                    <ui-select id="state" ng-model="formCtrl.state" on-select="formCtrl.refreshCities($select.selected.id)" theme="selectize">
                                        <ui-select-match placeholder="All states" >
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="state.id as state in formCtrl.states track by $index"
                                                refresh="formCtrl.refreshStates($select.search)"
                                                refresh-delay="0">
                                            <div ng-bind-html="state.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="city" class="control-label">{{ 'user.city' | translate }}</label>
                                <div class="form-group">
                                    <ui-select id="city" ng-model="formCtrl.city" theme="selectize">
                                        <ui-select-match placeholder="All cities" >
                                            {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="city.id as city in formCtrl.cities track by $index"
                                                refresh="formCtrl.refreshCities($select.search)"
                                                refresh-delay="0">
                                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="control-label">{{ 'user.email' | translate }}</label>
                            <input id="email" type="email" class="form-control"
                                   placeholder="{{ 'user.email' | translate }}"
                                   required=""
                                   ng-model="formCtrl.user.email">
                        </div>

                        <div class="form-group">
                            <label for="password" class="control-label">{{ 'user.password' | translate }}</label>
                            <input id="password" type="password" class="form-control"
                                   placeholder="{{ 'user.password' | translate }}"
                                   ng-minlength="formCtrl.user.id === '' ? 6 : 0" ng-required="formCtrl.user.id === ''"
                                   ng-model="formCtrl.user.password">
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'global.social' | translate }}</h3>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-sm-4">
                                <label for="facebook" class="control-label">{{ 'global.facebook' | translate }}</label>
                                <div class="form-group">
                                    <input id="facebook" type="text" class="form-control"
                                           placeholder="{{ 'global.facebook' | translate }}"
                                           ng-model="formCtrl.user.facebook">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="twitter" class="control-label">{{ 'global.twitter' | translate }}</label>

                                <div class="form-group">
                                    <input id="twitter" type="text" class="form-control"
                                           placeholder="{{ 'global.twitter' | translate }}"
                                           ng-model="formCtrl.user.twitter">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="google" class="control-label">{{ 'global.google' | translate }}</label>

                                <div class="form-group">
                                    <input id="google" type="text" class="form-control"
                                           placeholder="{{ 'global.google' | translate }}"
                                           ng-model="formCtrl.user.google">
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-4">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'global.avatar' | translate }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div ng-if="formCtrl.file" class="pull-left" style="margin-right: 10px; height: 100px;">
                                <img ng-src="{{formCtrl.file.src}}" style="max-height: 100px; width: auto;" />
                            </div>
                            <div ng-if="!formCtrl.file" class="pull-left" style="margin-right: 10px; height: 100px;">
                                <img ng-src="{{formCtrl.file.src}}" style="max-height: 100px; width: auto;" />
                            </div>
                            <div class="file-wrap">
                                <label class="btn btn-default" for="fileToUpload">
                                    <i class="fa fa-user"></i> Change avatar
                                </label>
                                <input id="fileToUpload" ngf-select type="file" name="myAvatar" style="opacity: 0;"
                                        image-with-preview
                                        data-bind-file=""
                                        ng-model="formCtrl.file"
                                        ngf-accept="'image/*'">
                            </div>
                            <div class="button" ng-if="formCtrl.user.id !==''" ng-click="formCtrl.upload(formCtrl.file)">Upload on file select</div>
                            <div ng-show="formCtrl.file">
                                {{formCtrl.file.name}}<br />
                                {{formCtrl.file.size}} byte(s)<br/>
                                {{formCtrl.file.type}}
                            </div>
                            <span class="error" ng-show="formCtrl.userForm.myAvatar.$error.formCtrl.user.avatar">Not a JPEG or a PNG!</span>
                            <span class="error" ng-show="formCtrl.userForm.myAvatar.$error.dimensions">Invalid dimensions! Expecting a landscape image smaller than 1800x400.</span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'user.roles' | translate }} </h3>

                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" ui-sref="main.role-list"><i
                                    class="fa fa-plus"></i> {{ 'button.add' | translate }}
                            </button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <ui-select multiple ng-model="formCtrl.user.roles">
                            <ui-select-match placeholder="">{{ $item.display_name }}</ui-select-match>
                            <ui-select-choices
                                    repeat="role in formCtrl.roles"
                                    refresh="formCtrl.refreshRole($select.search)"
                                    refresh-delay="0">
                                <div ng-bind-html="role.display_name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>


                    </div><!-- /.box-body -->
                    <div class="overlay" ng-show="!formCtrl.user.roles">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div><!-- /.overlay -->
                </div><!-- /.box -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'global.status' | translate }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <md-checkbox class="md-primary" ng-model="formCtrl.user.active">{{ 'global.active' |
                                    translate }}</md-checkbox>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form><!-- /form -->

</section>
