<section class="content-header">
    <h1>
        <span>{{ 'setting.settings' | translate }}</span>
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <form name="formCtrl.settingForm">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">

                    <button type="submit"
                            ng-disabled="formCtrl.settingForm.$invalid || formCtrl.deleteLoading || formCtrl.saveLoading"
                            ng-click="formCtrl.save()"
                            class="btn btn-primary">
                        <span ng-if="formCtrl.saveLoading"><i class="fa fa-spin fa-spinner"></i></span>
                        <span ng-if="!formCtrl.saveLoading"><i class="fa fa-save"></i> {{
                            'button.save' | translate }}</span>
                    </button>

                    <button type="button" class="btn btn-default" ng-click="$location.path('countries')"><i
                            class="fa fa-reply"></i> {{ 'button.go_back' |
                        translate }}
                    </button>
                </div>
            </div><!-- /.col -->
        </div>
        <br />
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <tabset>
                        <tab ng-repeat="(key, value) in formCtrl.setting | groupBy: 'type'">
                            <tab-heading>
                                {{ key | uppercase }}
                            </tab-heading>
                            <div class="form-group" ng-repeat="setting in value">
                                <label for="{{ setting.name }}" class="control-label">{{ setting.name | replace:'_':' '| ucfirst }}</label>
                                <input id="{{ setting.name }}" type="text" class="form-control"
                                       ng-model="setting.value">
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form><!-- /form -->

</section>
