/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// own-styles-injector
// own-styles-endinjector


/* UI Override */
.ui-select-container {
	min-width: 150px;
}
.selectize-control {
  /* Align Selectize with input-group-btn */
  top: 3px;
}
.selectize-control > .selectize-dropdown {
  top: 34px;
}
/* Reset right rounded corners, see Bootstrap input-groups.less */
.selectize-input {
  border-radius: 2px;
  padding: 7px 8px;
}
.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
	width: auto !important;
}

md-checkbox {
	margin-bottom: 0 !important;
}
md-radio-group {
    md-radio-button {
        margin-bottom: 7px;
        &:not(:first-child) {
            margin-top: 7px;
        }
    }
} 
md-radio-button {
    
}
/* Checklist */
.checklist .checkbox-inline {
	min-width: 25%;
	padding-left: 0;
}
.checklist .checkbox-inline + .checkbox-inline {
	margin-left: 0;
}
.table > tbody > tr > td {
	vertical-align: middle;
}
.switch-label {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	vertical-align: top;
}
/* File input design */
.file-wrap.avatar {
	position: relative;
	height: 100px;
	line-height: 100px;
	input {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	label {
		position: relative;
		z-index: 2;
	}
}

.angular-google-map-container { height: 300px; }
.map-search {
	position: absolute;
	top: 10px;
	left: 25px;
	z-index: 1;
	min-width: 300px;
}