/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// own-styles-injector
// own-styles-endinjector


/* UI Override */
.ui-select-container {
	min-width: 150px;
}
.selectize-control {
  /* Align Selectize with input-group-btn */
  top: 3px;
}
.selectize-control > .selectize-dropdown {
  top: 34px;
}
/* Reset right rounded corners, see Bootstrap input-groups.less */
.selectize-input {
  border-radius: 2px;
  padding: 7px 8px;
}
.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
	width: auto !important;
}

md-checkbox {
	margin-bottom: 0 !important;
}
.checklist .checkbox-inline {
	min-width: 25%;
	padding-left: 0;
}
.checklist .checkbox-inline + .checkbox-inline {
	margin-left: 0;
}
.table > tbody > tr > td {
	vertical-align: middle;
}
.file-wrap {
	position: relative;
	height: 100px;
	line-height: 100px;
	input {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	label {
		position: relative;
		z-index: 2;
	}
}