<ion-view hide-nav-bar="true" title="Satellizer Ionic">
  <ion-content class="padding">
    <div ng-if="!isAuthenticated()">
      <button ng-click="authenticate('facebook')" class="button icon-center ion-social-facebook"></button>
      <button ng-click="authenticate('google')" class="button icon-center ion-social-googleplus"></button>
      <button ng-click="authenticate('twitter')" class="button icon-center ion-social-twitter"></button>
      <button ng-click="authenticate('yahoo')" class="button icon-center ion-social-yahoo"></button>
      <button ng-click="authenticate('live')" class="button icon-center ion-social-windows"></button>
    </div>
    <div ng-if="isAuthenticated()">
      <div class="card">
        <div class="item item-text-wrap">
          You are currently logged in.
        </div>
      </div>
      <button ng-click="logout()" class="button button-block">
        Log Out
      </button>
    </div>
  </ion-content>
</ion-view>
